<div class="row">
    <div class="col-md-3">
        <br><h2>Account registratie</h2><br>
        <form>
            Voornaam: <br>
            <input type="text" name="name" required><br><br>
            Achternaam: <br>
            <input type="text" name="lastname" required><br><br>
            Email: <br>
            <input type="email" name="email" required><br><br>
            Wachtwoord: <br>
            <input type="password" name="password" required><br><br>
            Wachtwoord herhalen: <br>
            <input type="password" name="password" required><br><br>
            Postcode: <br>
            <input type="text" name="postcode" required><br><br>
            Adres: <br>
            <input type="text" name="adress" required><br><br>
            Telefoonnummer: <br>
            <input type="tel" name="phonenumber"><br><br>
            Geboortedatum: <br>
            <input type="date" name="dateofbirth" required><br><br><br><br>
            <input type="submit" value="Registreer!">
            <input type="reset">
        </form>
        <br><br>
    </div>
</div>