
@{
    ViewData["Title"] = "Index";
}
<h2>Statistieken</h2>


<br />
<li><a asp-area="" asp-controller="AdminStatistics" asp-action="Omzet">Omzet statistieken</a></li>
<br />
<li><a asp-area="" asp-controller="AdminStatistics" asp-action="TopTenUsers">Beste klanten</a></li>
<br />
<li><a asp-area="" asp-controller="AdminStatistics" asp-action="TopTen">Best verkochte merken</a></li>
<br />
