@page
@model LoginModel
@{
    ViewData["Title"] = "Loginpage" ;
}
p<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>



<div class="row">
    <div class="col-md-3">
        <h2>Inloggen</h2>
        <form>
          Email:<br>
          <input type="email" name="email" required><br>
          Wachtwoord:<br>
          <input type="password" name="password" required><br>
          <input type="submit" value="Login!">
          <input type="reset">
        </form>

    </div>
    <div class="col-md-3">
        <h2>Registreren</h2>
        <form>
            Voornaam: <br>
            <input type="text" name="name" required><br>
            Achternaam: <br>
            <input type="text" name="lastname" required><br>
            Email:<br>
            <input type="email" name="email" required><br>
            Wachtwoord:<br>
            <input type="password" name="password" required><br>
            Wachtwoord herhalen:<br>
            <input type="password" name="password" required><br>
            Postcode: <br>
            <input type="text" name="postcode" required><br>
            Adres: <br>
            <input type="text" name="adress" required><br>
            Telefoonnummer: <br>
            <input type="tel" name="phonenumber"><br>
            Geboortedatum: <br>
            <input type="date" name="dateofbirth"  max=@Model.Message required><br>
            <input type="submit" value="Registreer!">
            <input type="reset">
        </form>

    </div>

</div>