@model WebsiteHotPinkWheels.Models.Car

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Car</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufactureYear" class="control-label"></label>
                <input asp-for="ManufactureYear" class="form-control" />
                <span asp-validation-for="ManufactureYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Horsepower" class="control-label"></label>
                <input asp-for="Horsepower" class="form-control" />
                <span asp-validation-for="Horsepower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topspeed" class="control-label"></label>
                <input asp-for="Topspeed" class="form-control" />
                <span asp-validation-for="Topspeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enginetype" class="control-label"></label>
                <input asp-for="Enginetype" class="form-control" />
                <span asp-validation-for="Enginetype" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fueltype" class="control-label"></label>
                <input asp-for="Fueltype" class="form-control" />
                <span asp-validation-for="Fueltype" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fuelusage" class="control-label"></label>
                <input asp-for="Fuelusage" class="form-control" />
                <span asp-validation-for="Fuelusage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transmission" class="control-label"></label>
                <input asp-for="Transmission" class="form-control" />
                <span asp-validation-for="Transmission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mileage" class="control-label"></label>
                <input asp-for="Mileage" class="form-control" />
                <span asp-validation-for="Mileage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="APK" class="control-label"></label>
                <input asp-for="APK" class="form-control" />
                <span asp-validation-for="APK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Warranty" class="control-label"></label>
                <input asp-for="Warranty" class="form-control" />
                <span asp-validation-for="Warranty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountofDoors" class="control-label"></label>
                <input asp-for="AmountofDoors" class="form-control" />
                <span asp-validation-for="AmountofDoors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountofSeats" class="control-label"></label>
                <input asp-for="AmountofSeats" class="form-control" />
                <span asp-validation-for="AmountofSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountofPreviousOwners" class="control-label"></label>
                <input asp-for="AmountofPreviousOwners" class="form-control" />
                <span asp-validation-for="AmountofPreviousOwners" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
