@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Accountbeheer</h2>

<div>
    <br />
    <h4>Pas je account gegevens aan</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            @await Html.PartialAsync("_ManageNav")
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
