body {
    color: hotpink;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    background-color: hotpink;
}

#wrapper {
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
    background-color: white;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}

#TopSide {
    display: flex;
    width: 100%;
}

#Logo {
}

#Banner {
    padding-left: 1%;
    width: auto;
}

#UserElement {
    padding-left: 2%;
}

#Navigation {
    height: 50px;
    background: linear-gradient();
    width: 100%;
}

#nav {
    display: block;
    list-style: none;
    text-align: center;
    width: 100%;
}

    #nav ul {
        display: none;
        list-style: none;
    }

    #nav li {
        float: left;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        border-left: 1px solid lightpink;
    }

    #nav a:link, nav a:visited, nav a:active {
        display: block;
        text-decoration: none;
        color: deeppink;
    }

    #nav a:hover {
        background-color: pink;
    }

#Content {
    margin-top: 0%;
    padding: 20px;
    min-width: 400px;
    min-height: 100px;
}

#Filter{
    float : left;
    background-color: lightpink;
    margin-right : 20px;
}