@model WebshopHPWcore.Models.Car

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nieuwe Auto Toevoegen</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="brand" class="control-label">Merk</label>
                <input asp-for="brand" class="form-control" />
                <span asp-validation-for="brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="model" class="control-label">Model</label>
                <input asp-for="model" class="form-control" />
                <span asp-validation-for="model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="manufactureyear" class="control-label">Bouwjaar</label>
                <input asp-for="manufactureyear" class="form-control" />
                <span asp-validation-for="manufactureyear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="color" class="control-label">Kleur</label>
                <input asp-for="color" class="form-control" />
                <span asp-validation-for="color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label">Prijs</label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="horsepower" class="control-label">PK</label>
                <input asp-for="horsepower" class="form-control" />
                <span asp-validation-for="horsepower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="weight" class="control-label">Gewicht</label>
                <input asp-for="weight" class="form-control" />
                <span asp-validation-for="weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="topspeed" class="control-label">Topsnelheid</label>
                <input asp-for="topspeed" class="form-control" />
                <span asp-validation-for="topspeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="enginetype" class="control-label">Type Motor</label>
                <input asp-for="enginetype" class="form-control" />
                <span asp-validation-for="enginetype" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fueltype" class="control-label">Type Brandstof</label>
                <input asp-for="fueltype" class="form-control" />
                <span asp-validation-for="fueltype" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fuelusage" class="control-label">Verbruik</label>
                <input asp-for="fuelusage" class="form-control" />
                <span asp-validation-for="fuelusage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="transmission" class="control-label">Transmissie</label>
                <input asp-for="transmission" class="form-control" />
                <span asp-validation-for="transmission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mileage" class="control-label">Kilometerstand</label>
                <input asp-for="mileage" class="form-control" />
                <span asp-validation-for="mileage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apk" class="control-label">APK</label>
                <input asp-for="apk" class="form-control" />
                <span asp-validation-for="apk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="warranty" class="control-label">Garantie</label>
                <input asp-for="warranty" class="form-control" />
                <span asp-validation-for="warranty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="amountofdoors" class="control-label">Aantal deuren</label>
                <input asp-for="amountofdoors" class="form-control" />
                <span asp-validation-for="amountofdoors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="amountofseats" class="control-label">Aantal stoelen</label>
                <input asp-for="amountofseats" class="form-control" />
                <span asp-validation-for="amountofseats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="amountofpreviousowners" class="control-label">Aantal vorige eigenaren</label>
                <input asp-for="amountofpreviousowners" class="form-control" />
                <span asp-validation-for="amountofpreviousowners" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="image" class="control-label">Afbeelding</label>
                <input asp-for="image" class="form-control" />
                <span asp-validation-for="image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Aanmaken" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Terug naar overzicht</a>
</div>

