@{
    ViewData["Title"] = "Cancellation";
}

<h2>De transactie is afgebroken.</h2>
<br />

<h4>Wilt u het nog een keer proberen?</h4>
<br />
<div>
    <a asp-controller="ShoppingCart" asp-action="Review" asp-route-id="" class="btn btn-default">Terug naar overzicht van bestelling</a>
</div>