
@{
    ViewData["Title"] = "Finish";
}
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<br />
<br />
<br />
<center>
    <div class="Resize-Images">
        <h3 style="font-family: 'Sofia';">Gefeliciteerd met uw aankoop!</h3>
        <img src="~/images/Party-Popper.png" alt="Visual Studio" class="overlay-Popper1" />
        <img src="~/images/Party-Popper.png" alt="Visual Studio" class="overlay-Popper2" />
        <img src="~/images/Ribbon.png" alt="Visual Studio" class="overlay-Ribbon" />
        @if (ViewBag.BovensteAuto == "Wit")
        { <img src="~/images/auto1.jpg" alt="Visual Studio" class="img-responsive img-circle" /> }
        @if (ViewBag.BovensteAuto == "Zilver")
        { <img src="~/images/auto2.jpg" alt="Visual Studio" class="img-responsive img-circle" />   }
        @if (ViewBag.BovensteAuto == "Grijs")
        {  <img src="~/images/auto3.jpg" alt="Visual Studio" class="img-responsive img-circle" />     }
        @if (ViewBag.BovensteAuto == "Rood")
        { <img src="~/images/auto4.jpg" alt="Visual Studio" class="img-responsive img-circle" /> }
        @if (ViewBag.BovensteAuto == "Blauw")
        { <img src="~/images/auto5.jpg" alt="Visual Studio" class="img-responsive img-circle" />   }
        @if (ViewBag.BovensteAuto == "Zwart")
        {  <img src="~/images/auto6.jpg" alt="Visual Studio" class="img-responsive img-circle" />     }
        @if (ViewBag.BovensteAuto == "Geel")
        { <img src="~/images/auto7.jpg" alt="Visual Studio" class="img-responsive img-circle" /> }
        @if (ViewBag.BovensteAuto == "Oranje")
        { <img src="~/images/auto8.jpg" alt="Visual Studio" class="img-responsive img-circle" />   }
        @if (ViewBag.BovensteAuto == "Groen")
        {  <img src="~/images/auto9.jpg" alt="Visual Studio" class="img-responsive img-circle" />     }
    </div>
</center>
