
@{
    ViewData["Title"] = "ConfirmAccount";
}

<h2>Bevestig uw Account</h2>
U heeft uzelf succesvol geregistreerd. Voordat u kunt inloggen moet u uw email bevestigen. Bekijk uw mailbox of neem contact op met de klantenservice. 

<a href="mailto:klantenservice@hotpinkwheels.nl">klantenservice@hotpinkwheels.nl</a>