@{
    ViewData["Title"] = "Account op slot";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Dit account is tijdelijk op slot gezet. Probeer het zo nog een keer.</p>
</header>
