@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager


<div class="row">
    <div class="col-md-5">
        <section>
            <form asp-controller="Account" asp-action="Login" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <br />
                    <h3>Inloggen voor bestaande klanten</h3>
                    <hr />
                    <input asp-for="Email" class="form-control" placeholder="Email"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Password" class="form-control" placeholder="Wachtwoord"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Inloggen</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-controller="Account" asp-action="ForgotPassword">Wachtwoord vergeten?</a>
                    </p>
                    <p>
                        <a asp-area="" asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Klik hier om je te registeren!</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
